{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="nk-content-body">
        <div class="nk-content-wrap">
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <div class="nk-block-head-sub">
                        <span>Food Detail</span></div>
                    <h2 class="nk-block-title fw-normal">Food Detail</h2>
                    <div class="nk-block-des">
                        <p>You Can See The Details Of The Food You Are Gonna Eat.
                            <span class="text-primary">
                                <em class="icon ni ni-info"></em>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- nav-tabs -->
            <div class="nk-block">
                <!-- .nk-block-head -->
                <div class="card card-bordered">
                    <div class="nk-data data-list">
                        <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">Image</span>
                                <img class="data-value" src="/media/{{ object.image }}" style="height: 60px;"></img>
                            </div>
                            <a href="/media/{{ object.image }}">
                                <div class="data-col data-col-end">
                                    <span class="data-more">
                                        <em class="icon ni ni-forward-ios"></em>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <!-- .data-item -->
                        <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">Name</span>
                                <span class="data-value">
                                    English:
                                    {{ object.title.en }}
                                    <br>
                                    Türkmen dili:
                                    {{ object.title.tm }}
                                    <br>
                                    Русский:
                                    {{ object.title.ru }}
                                    <br></span>
                            </div>
                            <div class="data-col data-col-end">
                                <span class="data-more">
                                    <em class="icon ni ni-forward-ios"></em>
                                </span>
                            </div>
                        </div>
                        <!-- .data-item -->
                        <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">Foods</span>
                                <span class="data-value">{{ object.food_count }}</span>
                            </div>
                            <div class="data-col data-col-end">
                                <span class="data-more">
                                    <em class="icon ni ni-forward-ios"></em>
                                </span>
                            </div>
                        </div>
                        <!-- .data-item -->
                    </div>
                    <!-- .nk-data -->
                </div>
                <!-- .card -->
            </div>
            <!-- .nk-block -->
        </div>
        <!-- content @e -->
    </div>
{% endblock content %}