{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@@page-discription">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png'%}">
    <!-- Page Title  -->
    <title>Admin</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{% static 'assets/css/dashlite.css'%}">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css'%}">
</head>

<body class="nk-body npc-subscription has-aside ui-clean ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-lg wide-xl">
                        <div class="nk-header-wrap">
                            <div class="nk-header-brand">
                                <a href="{% url 'users:home' %}" class="logo-link">
                                    <img class="logo-light logo-img" src="{% static 'images/logo.png' %}" srcset="{% static 'images/logo2x.png' %}" alt="logo">
                                    <img class="logo-dark logo-img" src="{% static 'images/logo-dark.png' %}" srcset="{% static 'images/logo-dark2x.png' %}" alt="logo-dark">
                                    <span class="nio-version">Subscription</span>
                                </a>
                            </div>
                            <!-- .nk-header-brand -->
                            <div class="nk-header-tools">
                                {% if request.user.username %}
                                <ul class="nk-quick-nav">
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                                <div class="user-name dropdown-indicator d-none d-sm-block">{{request.user.username}}</div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-avatar">
                                                        <span>AB</span>
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="lead-text">{{request.user.username}}</span>
                                                        <span class="sub-text">{{request.user.email}}</span>
                                                    </div>
                                                    <div class="user-action">
                                                        <a class="btn btn-icon mr-n2" href="{% url 'users:edit' request.user.id %}"><em class="icon ni ni-setting"></em></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="{% url 'users:edit' request.user.id %}"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="{% url 'logout' %}"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-lg-none">
                                        <a href="#" class="toggle nk-quick-nav-icon mr-n1" data-target="sideNav"><em class="icon ni ni-menu"></em></a>
                                    </li>
                                </ul>
                                <!-- .nk-quick-nav -->
                                {% else %}
                                <a href="{% url 'registration' %}">
                                    Sign Up
                                </a>|
                                <a href="{% url 'login' %}">
                                    Login
                                </a> {% endif %}
                            </div>
                            <!-- .nk-header-tools -->

                        </div>
                        <!-- .nk-header-wrap -->
                    </div>
                    <!-- .container-fliud -->
                </div>
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            <div class="nk-aside" data-content="sideNav" data-toggle-overlay="true" data-toggle-screen="lg" data-toggle-body="true">
                                <div class="nk-sidebar-menu" data-simplebar>
                                    <!-- Menu -->
                                    <ul class="nk-menu">
                                        <li class="nk-menu-heading">
                                            <h6 class="overline-title">Menu</h6>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="{% url 'users:home' %}" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                                                <span class="nk-menu-text">Home</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="{% url 'users:users' %}" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-account-setting"></em></span>
                                                <span class="nk-menu-text">Users</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="{% url 'foods:food_category-list' %}" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-folder-list"></em></span>
                                                <span class="nk-menu-text">Categories</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="{% url 'foods:food-list' %}" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-disk"></em></span>
                                                <span class="nk-menu-text">Foods</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="{% url 'foods:hall-list' %}" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-home-alt "></em></span>
                                                <span class="nk-menu-text">Halls</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="{% url 'foods:table-list' %}" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-grid-alt "></em></span>
                                                <span class="nk-menu-text">Tables</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="{% url 'foods:order-list' %}" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-cc-alt"></em></span>
                                                <span class="nk-menu-text">Orders</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="{% url 'foods:create' %}" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-edit"></em></span>
                                                <span class="nk-menu-text">Create</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- Menu -->
                                    <ul class="nk-menu nk-menu-sm">
                                        <!-- Menu -->
                                        <li class="nk-menu-heading">
                                            <span>Help Center</span>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="{% url 'users:contact' %}" class="nk-menu-link">
                                                <span class="nk-menu-text">Contact</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- .nk-sidebar-menu -->
                                <div class="nk-aside-close">
                                    <a href="#" class="toggle" data-target="sideNav"><em class="icon ni ni-cross"></em></a>
                                </div>
                                <!-- .nk-aside-close -->
                            </div>
                            <!-- .nk-aside -->
                            {% block content %} {% endblock content %}
                            <!-- footer @s -->
                            <div class="nk-footer">
                                <div class="container wide-xl">
                                    <div class="nk-footer-wrap g-2">
                                        <div class="nk-footer-copyright"></div>
                                        <div class="nk-footer-links">
                                            <ul class="nav nav-sm">
                                                <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- footer @e -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- content @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    <script src="{% static 'assets/js/bundle.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
</body>

</html>