{% extends 'admin/base.html' %} {% load static %} {% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-lg">
            <div class="nk-block-head-sub"><span>FAQs</span></div>
            <div class="nk-block-between-md g-4">
                <div class="nk-block-head-content">
                    <h2 class="nk-block-title fw-normal">Frequently Ask Questions</h2>
                    <div class="nk-block-des">
                        <p>Here are some question and you can find your answer.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- .nk-block-head -->
        <div class="nk-block">
            <h5 class="title text-primary">General Question</h5>
            <p>You can find general answer here.</p>
            <div id="faq-gq" class="accordion">
                <div class="accordion-item">
                    <a href="#" class="accordion-head" data-toggle="collapse" data-target="#faq-gq-1">
                        <h6 class="title">What is Dashlite?</h6>
                        <span class="accordion-icon"></span>
                    </a>
                    <div class="accordion-body collapse show" id="faq-gq-1" data-parent="#faq-gq">
                        <div class="accordion-inner">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                <!-- .accordion-item -->
                <div class="accordion-item">
                    <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-gq-2">
                        <h6 class="title">What are some of the benefits of receiving my bill electronically?</h6>
                        <span class="accordion-icon"></span>
                    </a>
                    <div class="accordion-body collapse" id="faq-gq-2" data-parent="#faq-gq">
                        <div class="accordion-inner">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                <!-- .accordion-item -->
                <div class="accordion-item">
                    <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-gq-3">
                        <h6 class="title">What is the relationship between Dashlite and payment?</h6>
                        <span class="accordion-icon"></span>
                    </a>
                    <div class="accordion-body collapse" id="faq-gq-3" data-parent="#faq-gq">
                        <div class="accordion-inner">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                <!-- .accordion-item -->
                <div class="accordion-item">
                    <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-gq-4">
                        <h6 class="title">What are the benefits of using Dashlite?</h6>
                        <span class="accordion-icon"></span>
                    </a>
                    <div class="accordion-body collapse" id="faq-gq-4" data-parent="#faq-gq">
                        <div class="accordion-inner">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                <!-- .accordion-item -->
            </div>
            <!-- .accordion -->
        </div>
        <!-- .nk-block -->
        <div class="nk-block nk-block-lg">
            <h5 class="title text-primary">My Account</h5>
            <p>You can find answer here about your account</p>
            <div id="faq-aq" class="accordion">
                <div class="accordion-item">
                    <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-aq-1">
                        <h6 class="title">How do I know my details are secure?</h6>
                        <span class="accordion-icon"></span>
                    </a>
                    <div class="accordion-body collapse" id="faq-aq-1" data-parent="#faq-aq">
                        <div class="accordion-inner">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                <!-- .accordion-item -->
                <div class="accordion-item">
                    <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-aq-2">
                        <h6 class="title">What can I do to protect my account account?</h6>
                        <span class="accordion-icon"></span>
                    </a>
                    <div class="accordion-body collapse" id="faq-aq-2" data-parent="#faq-aq">
                        <div class="accordion-inner">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                <!-- .accordion-item -->
                <div class="accordion-item">
                    <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-aq-3">
                        <h6 class="title">How can I delete my account?</h6>
                        <span class="accordion-icon"></span>
                    </a>
                    <div class="accordion-body collapse" id="faq-aq-3" data-parent="#faq-aq">
                        <div class="accordion-inner">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                <!-- .accordion-item -->
            </div>
            <!-- .accordion -->
        </div>
        <!-- .nk-block -->
        <div class="nk-block nk-block-lg">
            <div class="card card-bordered border-primary">
                <div class="card-inner">
                    <div class="nk-cta">
                        <div class="nk-cta-block">
                            <div class="nk-cta-img">
                                <em class="icon icon-circle ni ni-msg"></em>
                            </div>
                            <div class="nk-cta-text">
                                <p>If you don’t find your question please contact our support team.</p>
                            </div>
                        </div>
                        <div class="nk-cta-action">
                            <a href="html/subscription/contact.html" class="btn btn-primary">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .card -->
        </div>
        <!-- .nk-block -->
    </div>
    {% endblock content %}