{% extends 'admin/base.html' %} {% load static %} {% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head">
            <div class="nk-block-head-content">
                <div class="nk-block-head-sub"><span>Account Setting</span></div>
                <h2 class="nk-block-title fw-normal">My Profile</h2>
                <div class="nk-block-des">
                    <p>You have full control to manage your own account setting. <span class="text-primary"><em class="icon ni ni-info"></em></span></p>
                </div>
            </div>
        </div>
        <!-- .nk-block-head -->
        <ul class="nk-nav nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:profile' %}">Personal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:profile-billing' %}">Billing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:profile-setting' %}">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:profile-notify' %}">Notifications</a>
            </li>
        </ul>
        <!-- nav-tabs -->
        <div class="nk-block">
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h5 class="nk-block-title">Current Subscription</h5>
                    <div class="nk-block-des">
                        <p>Details about your current subscription and billing information.</p>
                    </div>
                </div>
            </div>
            <!-- .nk-block-head -->
            <div class="card card-bordered">
                <div class="card-inner-group">
                    <div class="card-inner">
                        <div class="between-center flex-wrap flex-md-nowrap g-3">
                            <div class="nk-block-text">
                                <h6>Enterpise Plan - <span class="text-base">$599.00 / Yearly</span></h6>
                                <p class="text-soft">Unlimited access with priority support, 99.95% uptime, powerfull features and more...</p>
                            </div>
                            <div class="nk-block-actions flex-shrink-0">
                                <a href="#" class="btn btn-primary">Change Plan</a>
                            </div>
                        </div>
                    </div>
                    <!-- .nk-card-inner -->
                    <div class="card-inner">
                        <div class="between-center flex-wrap flex-md-nowrap g-3">
                            <div class="nk-block-text">
                                <p>Learn more about our <a href="#">subscription options</a>.</p>
                            </div>
                            <div class="nk-block-actions">
                                <ul class="align-center gx-3">
                                    <li>
                                        <div class="custom-control custom-control-right custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="auto-renewal">
                                            <label class="custom-control-label" for="auto-renewal">Auto Renewal</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- .nk-card-inner -->
                </div>
            </div>
            <!-- .card -->
            <!--  Another Sub Section -->
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h5 class="nk-block-title">Billing Cycle</h5>
                    <div class="nk-block-des">
                        <p>Your subscription renews on Jan 28, 2020 <span class="fs-13px text-soft">(2 months 17 days remaining).</span></p>
                    </div>
                </div>
            </div>
            <!-- Nk-Block-head -->
            <div class="card card-bordered">
                <div class="card-inner-group">
                    <div class="card-inner">
                        <div class="between-center flex-wrap flex-md-nowrap g-3">
                            <div class="nk-block-text">
                                <h6>Yearly Subscription</h6>
                                <ul class="list-inline list-col2 text-soft">
                                    <li>Next payment: <strong class="text-base">$599.00 USD</strong> on <strong class="text-base">Jan 28, 2020</strong></li>
                                    <li>Last payment made: Jan 28, 2019</li>
                                </ul>
                            </div>
                            <div class="nk-block-actions">
                                <ul class="align-center gx-3">
                                    <li class="order-md-last">
                                        <a href="#" class="link link-primary">Switch Billing Cycle</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- .nk-card-inner -->
                </div>
            </div>
            <!-- .card -->
            <!--  Another Sub Section -->
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h5 class="nk-block-title">Manage Liceneses</h5>
                </div>
            </div>
            <!-- .nk-block-head -->
            <div class="card card-bordered">
                <div class="card-inner-group">
                    <div class="card-inner">
                        <div class="between-center flex-wrap flex-md-nowrap g-3">
                            <div class="nk-block-text">
                                <h6>20 Licenses</h6>
                                <p class="text-soft">Licenssed members have full access to all NioAccount Features.</p>
                            </div>
                            <div class="nk-block-actions">
                                <ul class="align-center gx-3">
                                    <li class="order-md-last">
                                        <a href="#" class="link link-primary">Manage License</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- .nk-card-inner -->
                </div>
            </div>
            <!-- .card -->
        </div>
        <!-- .nk-block -->
    </div>
    {% endblock content %}