
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Use PyQt5 to print thermal receipts</title>
</head>

<body>
    <style>
        .tab {
            display: inline-block;
            margin-left: 10px;
        }
    </style>
    <div id="capture">
        <div class="col-md-4" style="border: 0.5px solid; padding-top: 30px; width: 350px; font-size: 14px;">
            <img src='http://127.0.0.1:8000/static/images/logo-1.png' style="align-items: center;" height="50" />
            <h3>Argentina Steak House</h3>
            <div style="margin-left: 30px;">
                <span style="float: left;">ybyhy>Order Number<span class="tab"></span> : </span>
                <span style="text-align: left;">0332A8B9</span>
            </div>
            <div style="margin-left: 30px;">
                <span style="float: left;">Ordered At <span style="margin-left: 28px"></span> :</span>
                <span style="text-align: left;">June 22, 2021, 2:12 p.m.</span>
            </div>
            <div style="margin-left: 30px;">
                <span style="float: left;">Cashier<span style="margin-left: 48px"></span> :</span>
                <span style="text-align: left;">Maya Sirinowa</span>
            </div>
            <span>---------------------------------------------------------------</span>
            <div class="section-4">
                <table>
                    <thead>
                        <tr>
                            <th style="margin-right: 30px; margin-left: 30px;">Title</th>
                            <th width="125">Price</th>
                            <th width="125">Quantity</th>

                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td style="float: left;margin-right: 30px; margin-left: 30px;">
                                Burger </td>
                            <td> 45.0 </td>
                            <td> 12 </td>
                        </tr>
                        
                        <tr>
                            <td style="float: left;margin-right: 30px; margin-left: 30px;">
                                Fry </td>
                            <td> 15.0 </td>
                            <td> 44 </td>
                        </tr>
                        
                        <tr>
                            <td style="float: left;margin-right: 30px; margin-left: 30px;">
                                Burger </td>
                            <td> 5.0 </td>
                            <td> 88 </td>
                        </tr>
                        
                        <tr>
                            <td style="float: left;margin-right: 30px; margin-left: 30px;">
                                Burger </td>
                            <td> 45.0 </td>
                            <td> 12 </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <span>---------------------------------------------------------------</span>
            <div class="total">
                <div style="margin-right: 30px; margin-left: 30px;">
                    <span style="float: left;">Total :</span>
                    <span style="float: right;">160.0</span>
                </div>
                <br>
                <div style="margin-right: 30px; margin-left: 30px;">
                    <span style="float: left;">Paid :</span>
                    <span style="float: right;">160.0</span>
                </div>
                <br>
                <div style="margin-right: 30px; margin-left: 30px;">
                    <span style="float: left;">Change :</span>
                    <span style="float: right;">0.0</span>
                </div>
            </div>
            <br>
            <div><span>---------------------------------------------------------------</span></div>
            <span>Thank you for your patronage!</span>
        </div>
    </div>
    </div>
</body>

</html>