{% extends 'base.html' %}


{% block content %}
<style>
    label{ 
        margin-bottom : 5px; 
    }
    .form-control-wrap{
        margin-top: 10px;
    }
</style>

<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head">
            <div class="nk-block-head-content">
                <h2 style="text-align: center;" lass="title nk-block-title">Create Food Size</h2>
            </div>
        </div>
        <div class="nk-block">
            <div class="container">
                <div class="card card-bordered h-100">
                    <div class="card-inner">
                        <form method="POST" action=""  enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="row g-4">
                                    {% for field in form %}
                                        {% if 3 >= forloop.counter %}
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="name-en" class="form-label">{{ field.label_tag }}</label>
                                                        <div class="form-control-wrap">
                                                            {{ field }}
                                                        </div>
                                                    </div>
                                                </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% for field in form %}
                                    {% if forloop.counter >= 5 %}
                                        <div class="form-control-wrap">
                                            {{ field.label_tag }}
                                            {{ field }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            <div class="form-group">
                                <input type="submit" class="btn btn-lg btn-primary" value="Submit" style="margin-top: 15px;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
